@charset "UTF-8";

.img3 {
	float: right;
	padding-right: 25px;
	padding-left: 4px
	
}

header {
	font-size: large;
	color:#42007E
	
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #33006A;
    background-color:aliceblue	
		}
		h1, h2, h3, h4, h5, h6 {
    color: #33006A;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: larger;
		
		}
.readability {
	float: left
}
.h0 {
	font-size: xx-large
}
.h1{
    font-size: x-large;
    text-align: left;	
}

.h4 {
	font-size: large
}
.h2 {
	color: #a05be6
}
.h6 {
	font-size: small
}
p {
	padding-left:10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	line-height: 1.5
}

.centerAlign {
	display: block;
	margin-left: auto;
	border-radius: 40%;
	margin-right: auto;
	
}
.leftAlign {
		float: left;
	padding-right: 1px;
	padding-bottom: 10px
}
a {
	color: #7A00FF}
a:hover {
	color:black
	
}

footer {
	padding: 5%;
	padding-left: 1%;
	background-color: #C4E7FF;
		color: #390070
}
header {
	background-color: #C4E7FF;
	padding: 5%
}
.button a{
	background-color: #AC58EE;
	padding:10px;
	text-decoration:none;
	color: #EEF8FF;
	border-radius: 10%

}
.aa{
	padding-bottom: 30px;
	padding-top: 5px
}
.pp {
	padding-top: 30px
}

.ppp {
	padding-bottom:30px
}
.button a{
	color: #EEF8FF;
	margin: auto
}
.button a:hover{
	background-color:#C0B800;
	color: #3E0674
}
section {
    
	background-color: aliceblue;
	background-blend-mode:luminosity;
	padding-bottom: 10px;
    padding-top: 10px;
}

img{
    opacity: 100%;
    font-size: large;
}
.aa {
}
